<div class="container-fluid main-container">
  <h3>Test for change detection</h3>

  <label>
      <input type="radio" name="opens" checked (click)="toggleDirection('left')"/> left
  </label>
  <label>
      <input type="radio" name="opens" (click)="toggleDirection('right')"/> Right
  </label>

  <button class="btn btn-primary" (click)="updateSettings()">Update Settings</button>

  <h1>ng2-daterangepicker (Demos)</h1>
  <br /><br />

  <input daterangepicker type="text" name="dateRangeInput" class="dateRangeInput"/>

</div>
